.row .menu {
    border: none;
    
      
  }
  .row .menu ul li{
    border-bottom: 1px solid #cdd7c7;
    padding:20px;
  }
  .row .menu ul{
      list-style-type:none;
    
    
  }
  .row .menu li a{
      text-decoration: none;
      color : white;
      font-size: 22px;
  }
  .row .menu ul ul{
      display:none;
  }
  .row  .menu li:hover ul{
        display:block;
    }
  .row .col-sm-3{
      height:100vh;
  }
  .row .col-sm-3 h4{
      color:white;
    font-size:30px;
    text-align: center;
   border-bottom: 1px solid #cdd7c7;
    padding:20px;
  }
.row .col-sm-3 ul li a .fas{
  width:40px;
}
.row .col-sm-3 .social_media{
  bottom:0px;
  text-align:center;
  
  
}
.row .col-sm-3 .social_media a{
  border: 1px solid #FAFAFA;
  background-color:#E0E0E0;
  
  line-height:50px;
  
  
}
.row .col-sm-3 .social_media a i{
  height:50px;
  width:50px;
  
}
.thuonghieu {
  background-color:#38383e;
  text-align: center;
  color:white;
}
.thuonghieu{
  font-size:30px;
  font-weight:bold
}

.table .thead{
  border:none;
  background-color:#305f3f;
  color:white
}
.col-sm-9{
  padding:40px;
}

.topbroder{
  background-color:#FFFFFF;
  border-top:2px solid;
  border-top-style: dashed;
}
.donmua-sanpham{
  background-color:white;
  padding: 20px;
}
.title-dathang{
  border:1px solid black;
   background-color:rgb(23, 51, 23);
 color:white;
 
}
.body{
  background-color:#f0f3f5;
}
.trangthai{
  float:right;
}

.size{
  width:300px;
}
#update-trangthai{
  float:right;
   background-color: rgb(23, 51, 23);
    color:white;
    height:40px;
    font-weight:bold;
}